.navbar-cart {
  padding: 15px;
  border-radius: 20px;
  border-style: none;
}

.empty {
  font-size: 15px;
  text-align: center;
  margin: auto;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.no-empty {
  font-size: 15px;
  background-color: blueviolet;
  border-radius: 20px;
  text-align: center;
  margin: auto;
  margin-bottom: -5px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
