.product-card {
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
  border-style: solid;
  border-color: black;
}

.product-img {
  width: 150px;
}
.product-title {
  margin-top: 20px;
}

.product-button {
  margin-top: 20px;
  font-weight: bold;
  color: #000000;
  background-color: lightgray;
  border-radius: 5px;
  border-style: none;
  padding: 10px;
}
